.input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}
table{
	width: 100%
	

}
th, td {
    border-bottom: 1px solid #ddd;
    text-align: center;
}
th{
	background-color: #4286f4;
    color: white;
    height: 30px;

}
table,th{
	 padding: 10px;
    text-align: center;
}
tr:hover {
	background-color: #f5f5f5
}
th,td,tr{
	text-align: center;
}